@font-face {
	font-family: 'CustomFont';
	src: url("assets/fonts/AreYouSerious-Regular.ttf") format('opentype');
}

* {
	box-sizing: border-box;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

canvas {
	cursor: crosshair
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	//background-image: radial-gradient(circle at 50% 50%, #BEDC74 0%, #387F39 100%), url('assets/pattern2.png');
	//background-image: url("assets/pattern2.png"), linear-gradient(#eb01a5, #d13531);
	background:
		radial-gradient(circle at 50% 50%, rgba(190, 220, 116, 0.9) 0%, rgba(56, 127, 57, 0.9) 100%),
		url("assets/pattern.svg") repeat;
	opacity: 1;
}

.main-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-container {
	display: flex;
	height: 800px;
	gap: 15px
}

.shadowed-block {
	background: linear-gradient(180deg, #FFEAA7, #ffbf70);
	-webkit-box-shadow: 0px 0px 9px 6px rgba(34, 60, 80, 0.56);
	-moz-box-shadow: 0px 0px 9px 6px rgba(34, 60, 80, 0.56);
	box-shadow: 0px 0px 9px 6px rgba(34, 60, 80, 0.56);
	border-radius: 10px;
}

.login-container {
	height: 310px;
	width: 430px;
	padding: 19px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	justify-content: center;
	border-radius: 30px;

	.login-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 150px;

		input[type=text] {
			width: 260px;
			border: 2px green solid;
			font-size: 20px;
			padding: 5px 8px;
			font-family: system-ui;
		}


		.error-message {
			font-size: 20px;
			color: #c20000;
			padding: 2px;
			min-height: 30px;
			text-align: center;
		}
	}



	.logo {
		display: flex;
		align-items: center;
		gap: 10px;
		font-family: system-ui;
		margin-bottom: 25px;

		img {
			width: 80px
		}

		span {
			font-family: 'CustomFont';
			font-size: 50px;
		}
	}

}

.canvas-container {
	width: 800px;
	height: 800px;
	user-select: none;

	.canvas-info {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-size: 24px;
		font-family: system-ui;

		.canvas-info-text {
			background-color: rgba(255, 92, 92, 0.49);
			padding: 7px;

			.special {
				color: yellow
			}
		}
	}
}

.side-panel {
	width: 300px;
	height: 800px;
	background: rgba(15, 148, 71, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.players-list {
	padding: 20px 25px;
	font-family: system-ui;
	border-bottom: 1px solid #ffff28;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.player-node {
	display: flex;
	justify-content: space-between;
	padding: 0px 5px;
	color: white;

	&.my-name {
		color: yellow;
	}

	&.painter {
		background: #ffff00a1;
		color: black;
	}

	.player-name {
		display: flex;
		gap: 10px;

		img {
			width: 35px;
		}
	}
}

.chat-container {
	font-family: system-ui;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 5px;
}

.chat-messages {
	padding: 0px 10px;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(52, 155, 36, 0.78);

	}

	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	.chat-message-system {
		color: white;

		.yellow {
			color: yellow
		}

		.red {
			background: #ff6363;
		}
	}

	.chat-message-author {
		color: yellow;
	}

	.chat-message-body {

		&.matched-word {
			.match-exact {
				color: black;
				background: rgb(0, 255, 0, 0.6);
				display: inline-block;
				width: 18px;
				border: 1px black solid;
				text-align: center;
			}

			.match-weak {
				background: rgba(255, 137, 39, 0.8);
				display: inline-block;
				width: 18px;
				border: 1px black solid;
				text-align: center;
			}

			.match-not {
				color: black;
				background: rgb(255, 255, 255, 0.6);
				display: inline-block;
				width: 18px;
				border: 1px black solid;
				text-align: center;
			}
		}
	}
}

.chat-form {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	background: white;
}

.chat-form-input {
	width: 80%;
	border: none;
	font-size: 20px;
	padding: 5px 10px;
}

.chat-form-input:focus-visible {
	outline: none;
}

.chat-form-btn {
	border: none;
	font-size: 20px;
	background: #ffce6c;

	&:hover {
		background: #ffd277;
		cursor: pointer;
	}

	&:active {
		-webkit-box-shadow: 0px 0px 2px 3px rgba(9, 10, 11, 0.2) inset;
		-moz-box-shadow: 0px 0px 2px 3px rgba(9, 10, 11, 0.2) inset;
		box-shadow: 0px 0px 2px 1px rgba(9, 10, 11, 0.2) inset;
	}
}

.canvas-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 0 20px;
	font-family: system-ui;
	font-size: 25px;

	* {
		width: 33%;
	}

	.canvas-timer {
		text-align: right;
	}
}

.canvas-word-info {
	letter-spacing: 4px;
	text-align: center;

	span {
		padding: 0px 5px;
		background: rgb(255 92 92 / 49%);
	}

}

.canvas-footer {
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	align-items: center;
}

.canvas-footer-colors {
	display: flex;
	gap: 10px;

	>div {
		width: 25px;
		height: 25px;
		border-radius: 15px;
		cursor: pointer;
	}

	.color-black {
		background: black;
	}

	.color-green {
		background: green;
	}

	.color-brown {
		background: brown;
	}

	.color-yellow {
		background: yellow;
	}

	.color-blue {
		background: blue;
	}

	.color-red {
		background: red;
	}

	.color-active {
		outline: 2px solid black;
		outline-offset: 2px;
	}

}

.footer-actions {
	display: flex;
	justify-content: center;
	gap: 15px;

	button {
		font-size: 12px;
		background: none;
		width: 35px;
		height: 35px;
		cursor: pointer;
	}

	img {
		width: 20px;
	}
}

.footer-thickness {
	display: flex;
	gap: 10px;
	align-items: center;

	>div {
		border-radius: 20px;
		background: black;
		cursor: pointer;
	}


	.thickness-thin {
		width: 15px;
		height: 15px;
	}

	.thickness-normal {
		width: 20px;
		height: 20px;
	}

	.thickness-bold {
		width: 25px;
		height: 25px;
	}

	.thickness-active {
		outline: 2px solid black;
		outline-offset: 2px;
	}

}